@mixin breakpoint($point) {
	@if $point == desktop {
		@media (min-width: 70em) { @content ; }
	}
	@else if $point == laptop {
		@media (min-width: 64em) { @content ; }
	}
	@else if $point == tablet {
		@media (min-width: 50em) { @content ; }
	}
	@else if $point == phablet {
		@media (min-width: 37.5em) { @content ; }
	}
	@else if $point == mobileonly {
		@media (max-width: 37.5em) { @content ; }
	}
}
*{
	overflow-x: hidden;
	font-family: 'Open Sans';
	img{
		max-width: 100%;
	}
}
body{
	background: #fafafa;
}
.section{
	margin-bottom: 40px;
}
.title{
	position: relative;
	padding: 5px 0;
	text-align:center;
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 40px;
	&:after{
		content:'';
		position:absolute;
		bottom: 0;
		left:50%;
		margin-left: -70px;
		background: #fac012;
		width: 140px;
		height: 2px;

	}
}
.logo{
	position: relative;
	padding-top: 10px;
	padding-bottom: 23px;
	@include breakpoint(phablet){
		padding-bottom: 10px;
	}
}
//menu styles begin
.menu{
	display: none;
	list-style: none;
	position: absolute;
	top: 8%;
	// padding-left: 0;
	width: 100%;
	overflow: hidden;
	padding: 20px 0;
	text-transform: uppercase;
	text-align: center;
	margin-left: -20px;
	z-index: 99;
	overflow: hidden;
	@include breakpoint(phablet){
		display: block;
		position: relative;
	}
	a{
		display: block;
		padding: 20px 0;
		text-decoration: none;
		color:#000;
		background: #fff;
		border-bottom: 0.5px solid rgba(200, 200, 200, 0.2);
		@include breakpoint(phablet){
			border: none;
			display: inline-block;
			background: none;
			padding: 0;
		}
	}
	padding: 20px 0;
	text-transform: uppercase;
	text-align: center;
	ul{
		list-style: none;
	}
	li{

		z-index: 99;

		letter-spacing: 1px;
		@include breakpoint(phablet){
			background: none;
			display: inline-block;
			border: none;
			margin: 10px;
		}
	}
	li:hover{
		// background: #fac012;
		// transition: background 0.7s ease;
		@include breakpoint(phablet){
			background: none;
		}

	}
	a:hover{
		color: #fac012;
		// color:#fff;
		@include breakpoint(phablet){
			color: #fac012;
		}
	}

}
//menu styles end


// menu burger begin
.bars{
	position: absolute;
	right:0px;
	top:33px;
	width:25px;
	@include breakpoint(phablet){
		display: none;
	};
}
.bar{
	height:3px;
	background:#333;
	margin:4px 0;
}
.active .bar:nth-child(2){
	opacity:0;
}
.active .bar:nth-child(1){
	transform: rotate(45deg) translateY(5px) translateX(2px);
	transition: all 1s ease;
}
.active .bar:nth-child(3){
	transform: rotate(-45deg) translateY(-8px) translateX(5px);
	transition: all 1s ease;
}
.bar:nth-child(2){
	opacity:1;
	transition: all 1s ease;
}
.bar{
	transition: all 1s ease;
}
//menu burger end

//block styles begin
.block-list{
	@include breakpoint(tablet){
		margin: 0;
		:nth-child(2n){
			.block{
				&__pic{
					float: right;
				}
			}
		}
	}

}
.block{
	background: #fff;
	text-align: center;
	margin-bottom: 20px;
	padding: 20px;
	@include breakpoint(phablet){
		// min-height: 500px;
		padding: 10px;
		margin-bottom: 20px;
	}
	@include breakpoint(tablet){
		padding: 0;
		min-height: 0;
		margin: 0;
	}

	&__pic{
		display: inline-block;
		position: relative;
		margin-bottom:10px;
		@include breakpoint(tablet){
			width:50%;
			float: left;
			margin-bottom: 0;
		}
		img {
			position: relative;
			opacity: 1;
			display: block;
			height: auto;
			-webkit-transition: .5s ease;
			transition: .5s ease;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			z-index: 0;
		}
	}
	&__pic:hover{
		.pic__inner{
			opacity:1;
		}
		img{
			opacity:0.9;
		}
	}
	.pic__inner{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		color: #fff;
		background: rgba(255,193,0,.8);
		opacity: 0;
		-webkit-transition: opacity .4s;
		transition: opacity .4s;
		cursor: pointer;
		img{
			position: absolute;
			top:50%;
			left: 50%;
			width: 50px;
			height: auto;;
			margin-top:-25px;
			margin-left: -25px;

		}
	}
	&__name{
		color:#fac012;
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	&__adress{
		color:#0c2e3b;
		font-size: 14px;
		margin-bottom: 10px;
	}
	&__flatsCount{
		text-transform: uppercase;
		margin-bottom: 10px;
		font-size: 13px;
	}
	&__description{
		padding: 10px;
		text-align: center;
		@include breakpoint(phablet){
			height: 200px;
			text-align: left;
			position: relative;
		}
		@include breakpoint(tablet){
			min-height: 0;
			&:after{
				content: '';
				position: absolute;
				left:0;
				top: 26px;
				width: 0;
				height: 0;
				border-top: 13px solid transparent;
				border-right: 26px solid red;
				border-bottom: 13px solid transparent;
			}
		}
	}
}
//block styles end

.btn{
	display: inline-block;
	padding: 10px;
	background: #0c2e3b;
	color:#fff;
	font-size: 14px;
	border-radius: 2px;
	&:hover{
		color:#fac012;
	}
	&_block{
		@include breakpoint(phablet){
			display: block;
			position: absolute;
			bottom :10px;
			left: 10px;
		}
	}
}
