html
	head
		include ./parts/head.pug
	body
		.wrapper.clearfix
			.col-phablet-1-4
				.logo
					a(href="#")
						img(src="/images/logo.png",alt="logo")
					.bars
						.bar
						.bar
						.bar
			.col-phablet-3-4
					.menu
						ul
							a(href="#")
								li
									|Ми
							a(href="#")
								li
									|продукція
							a(href="#")
								li
									|квартири
							a(href="#")
								li
									|наші переваги
							a(href="#")
								li
									|контакти
		.header-slider
			.slide
				img(src="/images/header_main.jpg")
				.slide__info
					.slide__info__title
						|BUILDING COMPANY
					.slide__info__text
						|Здано в експлуатацію новий житловий комплекс “Затишок Дніпра”
					.btn.btn_slider
						|ОБРАТИ КВАРТИРУ
		.wrapper
			.section
				.title
					|Житлові комплекси
				.clearfix
					.col-phablet-1-2
						.block-list
							.block.clearfix
								.block__pic
									img(src="images/residental_complex_1.png")
									.pic__inner
										img(src="images/house_shape.png")
								.block__description
									.block__name
										|Житловий масив “Затишок Дніпра”
									.block__adress
										|м. Київ
										br
										|вул. Набережна 103
									.block__flatsCount
										|145 КВАРТИР
									.btn.btn_block
										|Обрати квартиру
							.block.clearfix
								.block__pic
									img(src="images/residental_complex_3.png")
									.pic__inner
										img(src="images/house_shape.png")
								.block__description
									.block__name
										|Житловий масив “Новий Дім”
									.block__adress
										|м. Харків
										br
										|вул. Незалежна 25
									.block__flatsCount
										|325 КВАРТИР
									.btn.btn_block
										|Обрати квартиру
					.col-phablet-1-2
						.block-list
							.block.clearfix
								.block__pic
									img(src="images/residental_complex_2.png")
									.pic__inner
										img(src="images/house_shape.png")
								.block__description
									.block__name
										|Житловий масив “Велика Сім’я”
									.block__adress
										|м. Івано-Франківськ
										br
										|вул. Галицька 203
									.block__flatsCount
										|205 КВАРТИР
									.btn.btn_block
										|Обрати квартиру
							.block.clearfix
								.block__pic
									img(src="images/residental_complex_4.png")
									.pic__inner
										img(src="images/house_shape.png")
								.block__description
									.block__name
										|Житловий масив “Затишний дім”
									.block__adress
										|м. Львів
										br
										|вул. Бандери 50
									.block__flatsCount
										|205 КВАРТИР
									.btn.btn_block
										|Обрати квартиру
								
		.stats
			.wrapper
				.stats__title
					span Ми будуємо для
					span ВАС
					span найкращі, сучасні, затишні квартири
				.row.clearfix
					.col-phablet-1-2
						.stats__info
							img(src="images/building_shape.png")
							.stats__text
								span 30
								br
								span зданих будинків
					.col-phablet-1-2
						.stats__info
							img(src="images/house_shape.png")
							.stats__text
								span 5000
								br
								span щасливих сімей
		.wrapper
			.section
				.title
					|Житловий масив
				.row.clearfix
					.col-phablet-1-2
						.block__img
							img(src='/images/building.png')
					.col-phablet-1-2
						.block__filter
							.block__filter__apartment Житловий масив “Затишок Дніпра ”
							a.change.pull-rigth(href='#') змінити
							.block__filter__flats
								.option
								div Квартира:
								input#r1(type="radio" class="room_1" name="room")
								label(for="r1")
								input#r2(type="radio" class="room_2" name="room")
								label(for="r2")
								input#r3(type="radio" class="room_3" name="room")
								label(for="r3")
								input#r4(type="radio" class="room_4" name="room")
								label(for="r4")
								input#r5(type="radio" class="room_5" name="room")
								label(for="r5")
								.option
									div Балкон:
										input#balcon(type="checkbox" name="balcon" )
										label(for="balcon")
										span.for-balcon
								.option
									div Номер Квартири:
									.flats
									.btn.btn__manager Зв'язатись з менеджером
				h2.center План поверху
				img(src='/images/plan_poverha.png')
				h2.center.var-planning Варіанти планування
				.row.clearfix
					.col-phablet-1-3.center
						.planing-img
							img(src='/images/zatyshok.png')
						.flat-name Затишок 2Б
						.flat-area
							span 42,77
							span м
							span 2
					.col-phablet-1-3.center
						.planing-img
							img(src='/images/spokusa.png')
						.flat-name Спокуса 2М
						.flat-area
							span 43,5
							span м
							span 2
					.col-phablet-1-3.center
						.planing-img
							img(src='/images/romashka.png')
						.flat-name Ромашка 2А
						.flat-area
							span 42,95
							span м
							span 2
						
				
						
		.advantages
		.uniqueness
			.wrapper
				.uniqueness__title
					span Що робить нас
					br 
					span Унікальними
				.unique
					span
						|100%
					span
						|Щасливих Клієнтів
					img(src="images/man.png", alt="man")
				.unique
					span
						|ЯКІСТЬ
					span
						|Європейська гарантія
					img(src="images/quality.png", alt="doc")
				.unique
					span
						|5000
					span
						|Щасливих Сімей
					img(src="images/family.png", alt="man")
		.wrapper
			.section
				.title
					|Чому обирають нас
				.row.clearfix
					.col-phablet-1-2.col-tablet-1-3
						.advantage
							.advantage__icon
								span.icon.icon_graph
							.advantage__title
								|30 Років Досвіду
							.advantage__text
								|Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки.
					.col-phablet-1-2.col-tablet-1-3
						.advantage
							.advantage__icon
								span.icon.icon_graph
							.advantage__title
								|Переможці тендерів
							.advantage__text
								|Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки.
					.col-phablet-1-2.col-tablet-1-3
							.advantage
								.advantage__icon
									span.icon.icon_star
								.advantage__title
									|Ліцензія і Страхування
								.advantage__text
									|Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки.
					.col-phablet-1-2.col-tablet-1-3
							.advantage
								.advantage__icon
									span.icon.icon_graph
								.advantage__title
									|30 зданих будинків
								.advantage__text
									|Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки.
					.col-phablet-1-2.col-tablet-1-3
						.advantage
							.advantage__icon
								span.icon.icon_graph
							.advantage__title
								|Довіра
							.advantage__text
								|Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки.
					.col-phablet-1-2.col-tablet-1-3
						.advantage
							.advantage__icon
								span.icon.icon_graph
							.advantage__title
								|Кваліфіковані працівники
							.advantage__text
								|Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки.
		.mapwrapper
			#map
			.wrapper
				form(id="", method="", action="")
					span НАДІСЛАТИ ПОВІДОМЛЕННЯ
					.row.clearfix
						.col-phablet-1-2
							input(type="text",name="name",placeholder="Ваше ім'я")
						.col-phablet-1-2
							input(type="text",name="mail", placeholder="Ваш Email")
						.col-phablet-1-2
							input(type="text",name="tel",placeholder="Телефон")
						.col-phablet-1-2
							input(type="text",name="theme",placeholder="Оберіть тему")
					textarea(name="message",placeholder="Напишіть текст...")
					button.btn.btn_send(type="submit")
						|Надіслати листа
		.footer
			.wrapper
				.row.clearfix
						.col-phablet-1-3
							.footer__logo
								img(src='/images/logo.png')
							.footer__text
								| Вже давно відомо, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Сенс використання Lorem Ipsum полягає в тому, що цей текст має більш-менш нормальне розподілення літер на відміну від, наприклад, "Тут іде текст.
						.col-phablet-1-3
							.footer__title МЕНЮ
							a(href='#') Ми
							a(href='#') Продукція
							a(href='#') Квартири
							a(href='#') Наші переваги
							a(href='#') Контакти
						.col-phablet-1-3
							.footer__title АДРЕС
							.footer__contacts
								.footer__contacts__name.adress Адрес:
								a м.Івано-Франківськ
								a вул. Шопена 3
								.footer__contacts__name.phone телефон:
								a(href='tel:+30906531214') +3 (096) 653 12 14
								a(href='tel:+30906531214') +3 (096) 653 12 14
								.footer__contacts__name.email email:
								a(href='mailto:mail@gmail.com') mail@gmail.com
			.footer__rights BUILDING COMPANY 2017 © All Rights Reserved
							
						
		

		script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSABlv07UuZop-0CE868yI-GyFYz8lsYM&callback=initMap")
