html
	head
		include ./parts/head.pug
	body
		.wrapper.clearfix
			.col-phablet-1-4
				.logo
					a(href="#")
						img(src="/images/logo.png",alt="logo")
					.bars
						.bar
						.bar
						.bar
			.col-phablet-3-4
					.menu
						ul
							a(href="#")
								li
									|Ми
							a(href="#")
								li 
									|продукція
							a(href="#") 
								li 
									|квартири
							a(href="#")
								li 
									|наші переваги
							a(href="#")
								li
									|контакти
		.header-slider
			img(src="/images/header_main.jpg")
		.wrapper
			.section
				.title
					|Житлові комплекси
				.row.clearfix
					.col-phablet-1-2
						.block.clearfix
							.block__pic
								img(src="images/residental_complex_1.png")
								.pic__inner
									img(src="images/house_shape.png")
							.block__description
								.block__name
									|Житловий масив “Затишок Дніпра”
								.block__adress
									|м. Київ
									br
									|вул. Набережна 103
								.block__flatsCount
									|145 КВАРТИР
								.btn.btn_block
									|Обрати квартиру
						.block.clearfix
							.block__description
								.block__name
									|Житловий масив “Затишок Дніпра”
								.block__adress
									|м. Київ
									br
									|вул. Набережна 103
								.block__flatsCount
									|145 КВАРТИР
								.btn.btn_block
									|Обрати квартиру
							.block__pic
								img(src="images/residental_complex_2.png")
								.pic__inner
									img(src="images/house_shape.png")
					.col-phablet-1-2
						.block.clearfix
							.block__pic
								img(src="images/residental_complex_3.png")
								.pic__inner
									img(src="images/house_shape.png")
							.block__description
								.block__name
									|Житловий масив “Затишок Дніпра”
								.block__adress
									|м. Київ
									br
									|вул. Набережна 103
								.block__flatsCount
									|145 КВАРТИР
								.btn.btn_block
									|Обрати квартиру
						.block.clearfix
							.block__description
								.block__name
									|Житловий масив “Затишок Дніпра”
								.block__adress
									|м. Київ
									br
									|вул. Набережна 103
								.block__flatsCount
									|145 КВАРТИР
								.btn.btn_block
									|Обрати квартиру
							.block__pic
								img(src="images/residental_complex_4.png")
								.pic__inner
									img(src="images/house_shape.png")
		.advantages
		.wrpapper
			.section
				.title
					|Житловий масив
				.row.clearfix
					.col-phablet-1-2
					.col-phablet-1-2
		.advantages
		.wrapper
			.section
				.title
					|Чому обирають нас
				.row.clearfix
					.col-phablet-1-3
					.col-phablet-1-3
					.col-phablet-1-3
		.map
		.footer
