html
	head
		include ./parts/head.pug
	body
		.wrapper.clearfix
			.col-phablet-1-4
				.logo
					a(href="#")
						img(src="/images/logo.png",alt="logo")
					.bars
						.bar
						.bar
						.bar
			.col-phablet-3-4
					.menu
						ul
							li
								a(href="#") Ми
							li 
								a(href="#") продукція
							li 
								a(href="#") квартири
							li 
								a(href="#") наші переваги
							li 
								a(href="#") контакти
		.header-slider
			img(src="/images/header_main.jpg")
		.wrapper
			.section
				.title
					|Житлові комплекси
				.row.clearfix
					.col-phablet-1-2
					.col-phablet-1-2
		.advantages
		.wrpapper
			.section
				.title
					|Житловий масив
				.row.clearfix
					.col-phablet-1-2
					.col-phablet-1-2
		.advantages
		.wrapper
			.section
				.title
					|Чому обирають нас
				.row.clearfix
					.col-phablet-1-3
					.col-phablet-1-3
					.col-phablet-1-3
		.map
		.footer
